.caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}

.width-and-height {
  height: 50px;
  width: 50px;
}

/* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
.padding {
  padding: 20px;
}

/* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
.margin {
  margin: 30px;
}

/* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
.border {
  border: 5px solid black;
}
.super-mario {
  width: 200px;
  float: left;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
  float: left;
  bottom: 250px;
  left: 50px;
  position: absolute;
}

.baloon {
  position: absolute;
  float: left;
  left: 300px;
  z-index: 1;
}

.speech {
  font-size: 25px;
  position: absolute;
  float: left;
  top: 290px;
  left: 320px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  float: left;
  top: 360px;
  left: 600px;
}